@tailwind base;
@tailwind components;
@tailwind utilities;
.w-500{
    width: 500px;
}
.react-tel-input .form-control {
    @apply !w-full py-6 !text-base;
  }
  
  .opt-container {
    @apply flex justify-between gap-2;
  }
  .opt-container input {
    @apply !mr-0 flex-1 py-5 outline-none;
  }
.h-200{
  height: 200px;
}
.w-800{
  width: 800px;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.hover\\:animate-shake:hover {
  animation: shake 0.5s linear;
}

.li {
  padding: 5px 0px;
  color: #000000; 
  transition: color 0.3s ease; 
}

.li:hover {
  color: #30b566;
  background-color: #f5f5f5; 
}
.div-text-gray{
  color: #ffffff;
  transition: color 0.3s ease;
}
.div-text-gray:hover{
  color: #bdbdbd;
}
